.galeria{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;

 
card{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width:18rem;
  
  }
}