card{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content:space-between;
  width:18rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;

  
}